@model CharacterSheetApp.Models.Home

<h2>Characters:</h2>


<form asp-action="Create">
    <div>
        <input name="CharacterName"/>
        <input type="submit" value="Add Character"/>
    </div>
</form>