@model List<CharacterSheetApp.Models.Character>

<h2>Characters:</h2>


<form asp-action="Create" asp-controller="Home">
    <div>
        <input name="CharacterName"/>
        <input type="submit" value="Add Character"/>
    </div>
</form>

<h4>Character:</h4>

<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <label>@item.Name</label>
        </li>
        }
    </ul>
</div>